<!-- GET /albums -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Album</title>
    <meta charset="utf-8">
    </head>
    <body>
        <h1>Delete an album</h1>

        <form action="/albums" method="POST">
            <p>
            <label for="id">Album id</label>
            <br>
            <input type="text" name="id" id="id"> 
        </p>
            <input type="submit" value="Delete album">
        </form> 
        <br>
        <a href="/albums">Back to albums index</a>
    </body>
</html> 